<!DOCTYPE html>
<html>
<head>

</head>

<body background="http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg">
<br />

<h1>Account Registration</h1>
<form action="/account/insert" method="get">
    First Name: <br /> <input name="first_name" type="text" required />
    <br />
    Last Name: <br /> <input name="last_name" type="text" required />
    <br />
    Email: <br /> <input name="email" type="email" required/>

    <br />
    Phone Number: <br /> <input name="phone_number" type="tel" required/>
    <br />
    Social Security Number: <br /> <input type="password" name="SSN" inputmode="number" minlength="9" maxlength="12"

                                          required autocomplete="off">

    <input type="hidden"
           id="customer_id"
           name="customer_id"
           value="<%= customer.customer_id %>"
    />

    <br /> <br />
    <input type="submit" />
</form>
</body>
</html>
<!--pattern="(?!000)([0-6]\d{2}|7([0-6]\d|7[012]))([ -])?(?!00)\d\d\3(?!0000)\d{4}"