<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg">

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br />
    <fieldset>
        <legend>View Transactions For:</legend>
    <a href="http://localhost:3000/checking/all">Checking</a>
    <br />
    <a href="http://localhost:3000/savings/all">Savings</a>
    <br />
    <a href="http://localhost:3000/credit/all">Credit</a>
    <br />
    </fieldset>

    <br/>

    <fieldset>
        <legend>Add A Transaction To:</legend>
    <a href="http://localhost:3000/checking/add">Checking Account</a>
    <br />
    <a href="http://localhost:3000/savings/add">Savings Account</a>
    <br />
    <a href="http://localhost:3000/credit/add">Credit Card</a>
    </fieldset>

    <br />

    <fieldset>
      <legend>Project 2 Subqueries</legend>
      <a href="http://localhost:3000/checking/1">#1 - Correlated</a>
      <br/>
      <a href="http://localhost:3000/checking/2">#2 - Join</a>
      <br/>
      <a href="http://localhost:3000/checking/3a">#3a - In</a>
      <br/>
      <a href="http://localhost:3000/checking/3b">#3b - Not In</a>
      <br/>
      <a href="http://localhost:3000/checking/4a">#4a - Exists</a>
      <br/>
      <a href="http://localhost:3000/checking/4b">#4b - Not Exists</a>
      <br/>
      <a href="http://localhost:3000/checking/5">#5 - Compare</a>
      <br/>
      <a href="http://localhost:3000/checking/6">#6 - Group By</a>
      <br/>
      <a href="http://localhost:3000/checking/7">#7 - Join, Group By, Having, Count</a>
      <br/>
      <a href="http://localhost:3000/checking/8">#8 - Order By</a>
      <br/>
    </fieldset>

    <span style="position: fixed; top: 50pt; right: 100pt;"><a href="http://localhost:3000/user/login">Login</a></span>
    <span style="position: fixed; top: 50pt; right: 50pt;"><a href="http://localhost:3000/account/add">Sign up</a></span>

  </body>
</html>
