<!DOCTYPE html>
<html>
<head>
    <div class="dropdown">
        <button class="dropbtn"  >Home</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" >Add</button>
        <div class="dropdown-content">
            <a href="/checking/add">Checking</a>
            <a href="/savings/add">Savings</a>
            <a href="/credit/add">Credit</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn"  >View</button>
        <div class="dropdown-content">
            <a href="/savings/all">Savings</a>
            <a href="/credit/all">Credit</a>
            <a href="/total/all">All Transactions</a>

        </div>
    </div>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .dropbtn {
            background-color: #708090;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #ddd}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #B0C4DE;
        }
    </style>
    <title>Checking - Many </title>
</head>
<body background="http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg">
<h1>Checking - Join, Group By, Having, Count</h1>

<form action="http://localhost:3000">
    <table border="1">
        <tr>
            <th>Merchant Name</th>
            <th>Debit</th>
            <th>Count</th>
        </tr>
        <% for (var i = 0; i < checking.length; i++) {%>
        <tr>
            <td><%= checking[i].merchant_name %></td>
            <td><%= checking[i].debit %></td>
            <td><%= checking[i].count %></td>
        </tr>
        <% } %>
    </table>
    <br />
    <input type="submit" value="Return" />
</form>
<br/>
<textarea name="comments" id="comments" style="width:75%;height:200px;background-color:black;color:limegreen;border:none;padding:2%;font:18px/20px sans-serif;">
Here is the query:

    SELECT merchant_name, avg(debit) as debit, count(merchant_name) as count
    FROM checking c
    WHERE debit > (SELECT AVG(debit) FROM checking)
    group by merchant_name
    having count(merchant_name) > 1;

    What this does is selects merchant name and gets the amount of times they shopped
    at the place or made a deposit or withdrawl, then groups them by name, then makes sure
    that they have shopped there more than once. It also averages in the debit colum the average
    they spend at the place.
</textarea>
</body>
</html>