<!DOCTYPE html>
<html>
<head>

</head>

<body background="http://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg">
<br />

<h1>Account Registration</h1>
<form action="/user/insert" method="get">
    Username: <br /> <input name="user_name" type="text" required />
    <br />
    Password: <br /> <input name="password" type="password" required />
    <br />

    <input type="hidden"
           id="customer_id"
           name="customer_id"
           value="<%=customer_id%>"
    />
    <br /> <br />
    <input type="submit" />
</form>
</body>
</html>
